@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mono Vehicles!</h1>
    <p>Searching for a car? <a href="/vehiclemodel">See our car catalog!</a>.</p>
</div>
